<template>
    <div>
      <h1>Add new Patient</h1>
      <SummaryForm :formData="formData" @isActiveChange="isActiveChange" @isEnrolledChange="isEnrolledChange" />
    </div>
</template>

<script>
// import { mapGetters, mapActions } from "vuex";
import SummaryForm from "./summaryForm"

export default {
  name: "NewPatient",
  data() {
    return {
      formData: {
        firstName: null,
        lastName: null,
        email: null,
        active:false,
        enrolled:false,
        enrollDate: null
      },
    };
  },
  components: {
    SummaryForm,
  },
  methods:{
    isActiveChange(item,checked){
      this.formData.active = checked
    },
    isEnrolledChange(item,checked)
    {
      this.formData.enrolled = checked
    }
  }
};
</script>

<style lang="sass" scoped>

</style>
