<template>
  <div class="patient">
    <h1>Patient {{ id }}</h1>
    <pre>{{singlePatient}}</pre>
  </div>
</template>

<script>
// @ is an alias to /src
import { mapGetters, mapActions } from "vuex";

export default {
  name: "Patient",
  components: {},
  data() {
    return {
      id: Number(this.$route.params.id),
    };
  },
  computed:{
    ...mapGetters(['singlePatient'])
  },
  watch: {
    $route(to) {
      this.newQuery(to);
      this.$store.dispatch("getPatientById",this.id)
    }
  },
  methods: {
    newQuery(query) { 
      this.id = query.params.id;
    },
  },
  created(){
    this.$store.dispatch("getPatientById",this.id)
    console.log(this.singlePatient)
  }
};
</script>


<style lang="scss">
</style>
