<template>
  <div class="formWrapper">
    <form ref="summaryForm" @submit="submit">
      <input-field
        v-model="summaryFormData.firstName"
        name="firstName"
        id="firstName"
        inputType="text"
        placeholderText="First Name"
      ></input-field>
      <input-field
        v-model="summaryFormData.lastName"
        name="lastName"
        id="lastName"
        inputType="text"
        placeholderText="Last Name"
      ></input-field>
      <input-field
        v-model="summaryFormData.email"
        name="email"
        id="email"
        inputType="email"
        placeholderText="Patient Email"
      ></input-field>
      <div class="flex">
        <Checkbox
          @checkboxChange="isActiveChange"
          :item="{
            id: 'isActive',
            name: 'Active',
            isChecked: summaryFormData.active,
          }"
        />
        <Checkbox
          @checkboxChange="isEnrolledChange"
          :item="{
            id: 'isEnrolled',
            name: 'Enrolled',
            isChecked: summaryFormData.enrolled,
          }"
        />
      </div>
      <input-field
        v-model="summaryFormData.enrollDate"
        name="enrollDate"
        id="enrollDate"
        inputType="date"
        placeholderText="Enroll date"
      ></input-field>
      <span class="error">{{ getError }}</span>
      <base-button class="login__button" buttonText="Save"></base-button>
    </form>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

import InputField from "@/components/UI/InputField";
import BaseButton from "@/components/UI/BaseButton";
import Checkbox from "@/components/UI/Checkbox";

export default {
  name: "SummaryForm",
  props: {
    formData: {
      type: Object,
      required: true,
    },
  },
  computed: {
    ...mapGetters({
      getError: "getError",
    }),
    summaryFormData() {
      return this.formData;
    },
  },
  components: {
    InputField,
    BaseButton,
    Checkbox,
  },
  methods: {
    isActiveChange(item, checked) {
      this.$emit("isActiveChange", item, checked);
    },
    isEnrolledChange(item, checked) {
      this.$emit("isEnrolledChange", item, checked);
    },
    async submit(e) {
      e.preventDefault();
      console.log(this.summaryFormData);
      //   this.$store.dispatch("addPatient", this.summaryFormData);
      this.$refs.summaryForm.reset();
    },
  },
};
</script>

<style lang="sass" scoped>
.formWrapper
  box-shadow: 0px 0px 20px rgba(0,0,0,0.1)
  min-width: 500px
  margin: 30px auto
  padding: 30px
form
  display: flex
  flex-direction: column
  margin-bottom: 30px
.flex
  display: flex
  align-items: center
  padding-top: 1rem
</style>
