<template>
  <div id="app">
    <component :is="addLayout">
      <router-view />
    </component>
  </div>
</template>

<script>
const defaultLayout = "default";
export default {
  name: "APP",
  computed: {
    addLayout() {
      return this.$route.meta.layout || defaultLayout;
    },
  },
};
</script>

<style lang="scss">
* {
  box-sizing: border-box;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

body {
  margin: 0;
  padding: 0;
  background: #fbfbfb;
}

.container {
  max-width: 70%;
  margin: auto;
}

</style>
