<template>
  <div class="default-layout">
    <Header />
    <div class="wrapper">
      <Sidebar />
      <div class="router-view">
          <slot />
      </div>
    </div>
  </div>
</template>

<script>
import Header from "../components/Header";
import Sidebar from "../components/Sidebar";
export default {
  name: "defaultLayout",
  components: {
    Header,
    Sidebar,
  },
};
</script>

<style lang="scss" scoped>

.wrapper {
  display: flex;
  width: 70%;
  margin: auto;
  min-height: calc(100vh - 68px);
}

.router-view{
  flex:1;
  display: grid;
  place-content: center;
}
</style>