<template>
  <div class="login-layout">
    <Header/>
    <slot />
  </div>
</template>

<script>
import Header from "../components/Header";

export default {
  
  name: "loginLayout",
  components: {
    Header
  },
};
</script>