<template>
  <div class="wrapper">
    <h1>LOGIN</h1>
    <form ref="loginForm" @submit="submit">
      <input-field
        v-model="userData.email"
        name="email"
        id="email"
        inputType="email"
        placeholderText="Email"
      ></input-field>
      <input-field
        v-model="userData.password"
        name="password"
        id="password"
        inputType="password"
        placeholderText="Password"
      ></input-field>
      <span class="error">{{getError}}</span>
      <base-button class="login__button" buttonText="Login"></base-button>
    </form>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

import InputField from "@/components/UI/InputField";
import BaseButton from "@/components/UI/BaseButton";

export default {
  name: "Login",
  data() {
    return {
      userData: {
        email: null,
        password: null,
      },
    };
  },
    computed: {
    ...mapGetters({
      getError:"getError"
    }),
  },
  components: {
    InputField,
    BaseButton,
  },
  methods: {
    async submit(e) {
      this.$store.dispatch("login", this.userData);
      this.$refs.loginForm.reset();
      e.preventDefault();
    },
  },
};
</script>

<style lang="sass" scoped>
.wrapper
  box-shadow: 0px 0px 20px rgba(0,0,0,0.1)
  max-width: 500px;
  margin: 30px auto;
  padding: 30px;
form
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
</style>
