<template>
  <div class="wrapper">
    <h1>Register</h1>
    <form ref="registerForm" @submit="submit">
      <input-field
        v-model="userData.firstName"
        name="firstName"
        id="firstName"
        inputType="text"
        placeholderText="First Name"
      ></input-field>
      <input-field
        v-model="userData.lastName"
        name="lastName"
        id="lastName"
        inputType="text"
        placeholderText="Last Name"
      ></input-field>
      <input-field
        v-model="userData.email"
        name="email"
        id="email"
        inputType="email"
        placeholderText="Email"
      ></input-field>
      <input-field
        v-model="userData.password"
        name="password"
        id="password"
        inputType="password"
        placeholderText="Password"
      ></input-field>
      <base-button class="login__button" buttonText="Register"></base-button>
    </form>
  </div>
</template>

<script>
import Checkbox from "@/components/UI/Checkbox";
import InputField from "@/components/UI/InputField";
import BaseButton from "@/components/UI/BaseButton";

export default {
  name: "Login",
  data() {
    return {
      userData: {
        firstName: null,
        lastName: null,
        email: null,
        password: null,
      },
    };
  },
  components: {
    InputField,
    BaseButton,
    Checkbox,
  },
  methods: {
    async submit(e) {
      this.$store.dispatch("register", this.userData);
      this.$refs.registerForm.reset();
      e.preventDefault();
    },
  },
};
</script>

<style lang="sass" scoped>
.wrapper
  box-shadow: 0px 0px 20px rgba(0,0,0,0.1)
  max-width: 500px;
  margin: 30px auto;
  padding: 30px;
form
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  .form-radio
    margin: 10px 0;
    text-align: left;
    font-size: 1rem;
    input
      width: 15px;
      height: 15px;
      margin-right: 10px;
</style>
