<template>
  <div id="nav">
    <div class="container">
      <div class="flex">
        <h2 class="logo">
          <router-link to="/">Clinical Study</router-link>
        </h2>
        <div class="menu"></div>
        <div class="auth" v-if="!isLoggedIn">
          <router-link to="/login">Login</router-link>
          <router-link to="/register">Register</router-link>
        </div>
        <div class="auth" v-if="isLoggedIn">
          <button class="btn" @click="toggleDropdown">
            <span>Account Settings </span>
            <img src="~@/assets/icons/Chevron-white-Down.svg" alt="">
            <ul class="dropdown" :class="{ show: show }">
              <li><a href="#">Profile</a></li>
              <li><a href="#" @click="logout">Log Out</a></li>
            </ul>
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  name: "Header",
  data(){
    return{
      show:false
    }
  },
  computed: {
    ...mapGetters({
      isLoggedIn: "isLoggedIn",
    }),
  },
  methods: {
    logout() {
      this.$store.dispatch("logout");
    },
    toggleDropdown(){
      this.show = !this.show
    }
  },
};
</script>

<style lang="scss" scoped>
#nav {
  padding: 10px 30px;
  background: #ddd;
  .flex {
    display: flex;
    align-items: center;
  }
  .logo {
    margin: 10px 50px 10px 0;
  }
  .menu {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  a {
    font-weight: bold;
    margin-right: 1rem;
    color: #2c3e50;
    text-decoration: none;
    text-transform: uppercase;
    &.router-link-exact-active {
      color: #42b983;
    }
  }
  .btn {
    outline: 0;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    background: #42b983;
    min-width: 220px;
    border: 0;
    border-radius: 4px;
    box-shadow: 0 4px 12px rgba(#000, 0.1);
    box-sizing: border-box;
    padding: 16px 20px;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    position: relative;
    // overflow: hidden;
    cursor: pointer;


    .dropdown.show{
      transform: translate(0, 0);
      opacity: 1;
      visibility: visible;
    }

    .dropdown {
      position: absolute;
      top: 100%;
      left: 0;
      background: #fff;
      width: 100%;
      border-radius: 4px;
      box-shadow: 0 4px 12px rgba(#000, 0.1);
      text-align: left;
      opacity: 0;
      visibility: hidden;
      transition: 0.3s ease;
      z-index: 9;

      &:before {
        content: "";
        position: absolute;
        top: -6px;
        left: 20px;
        width: 0;
        height: 0;
        box-shadow: 2px -2px 6px rgba(#000, 0.05);
        border-top: 6px solid #fff;
        border-right: 6px solid #fff;
        border-bottom: 6px solid transparent;
        border-left: 6px solid transparent;
        transform: rotate(-45deg);
        mix-blend-mode: multiple;
      }

      li {
        z-index: 1;
        position: relative;
        background: #fff;
        padding: 0 20px;
        color: #666;

        &.active {
          color: #5380F7;
        }

        &:first-child {
          border-radius: 4px 4px 0 0;
        }

        &:last-child {
          border-radius: 0 0 4px 4px;

          a {
            border-bottom: 0;
          }
        }
      }

      a {
        display: block;
        border-bottom: 1px solid rgba(#000, 0.05);
        padding: 16px 0;
        color: inherit;
        font-size: 10px;
        text-decoration: none;
      }
    }
  }
}
</style>
