<template>
  <aside>
    <h5>
      <span>Patients</span>
      <button @click="addNew">New Patient</button>
    </h5>
    <!-- <pre>{{allPatients.patients}}</pre> -->
    <ul class="patients-list" v-if="allPatients.patients && allPatients.patients.length > 0">
      <li class="patient" v-for="patient in allPatients.patients" :key="patient.id">
        <router-link :to="{ name: 'Patient', params: { id: patient.id }}">
          <div class="patient-image">
            <img src="https://via.placeholder.com/50" alt="" />
          </div>
          <div class="patient-details">
            <h4>{{patient.firstName}} {{patient.lastName}}</h4>
          </div>
        </router-link>
      </li>
    </ul>
  </aside>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  name: "Sidebar",
  computed: {
    allPatients(){
        return this.$store.state.patients
    } 
    // ...mapGetters(['allPatients'])
  },
  methods: {
    addNew(){
      const path = `/patient/new`
        if (this.$route.path !== path){
          this.$router.push(path)        
        }
    }
  },
  created(){
    this.$store.dispatch("getPatients")
    console.log(this.allPatients)
  }
};
</script>

<style lang="sass" scoped>
aside
  width: 300px
  padding: 30px
  text-align: left
  background:#fff
  flex-shrink: 0;
  h5
    display: flex
    justify-content: space-between
    margin: 0
    align-items:center
    span
      font-size: 1.5rem

.patients-list
  padding: 0
  list-style-type: none
  height: 600px
  overflow-y: scroll

.patient a
  display: flex
  align-items: center
  padding: 1rem 0
  border-top: solid 1px #ccc
  color:#000
  text-decoration: none
  
  &:last-child
   border-bottom: solid 1px #ccc
  
  .patient-image
    margin-right: 1rem
  
  .patient-details
    text-align: left
    h4,p
      margin: 0
</style>
