<template>
  <button class="button" :class="{'white-button' : white}" @click="onClick">
    <span class="button__text" :class="{'button__arrow': withIcon}" >{{buttonText}}</span>
  </button>
</template>

<script>
export default {
  name:'BaseButton',
  props: {
    buttonText: String,
    white: Boolean,
    withIcon: {
      required: false,
      default: false
    }
  },
  methods: {
    onClick() {
      this.$emit('onClick')
    }
  }
};
</script>

<style lang="sass">
  button
    background: #42b983;
    color: #fff;
    padding: 10px;
    font-size: 1rem;
    border: none
</style>
