<template>
  <div class="form-checkbox">
    <input
      v-model="checkBox"
      type="checkbox"
      :id="item.id"
      @change="handleChange"
    />
    <label class="checkbox-label" :for="item.id">{{ item.name }} </label>
  </div>
</template>

<script>
export default {
  props: {
    item: Object,
  },
  data() {
    return {
      checkBox: false,
    };
  },
  methods: {
    handleChange() {
      this.$emit("checkboxChange", this.item, this.checkBox);
    },
  },
  created() {
    this.checkBox = this.item.isChecked;
  },
};
</script>

<style lang="sass" scoped>
.form-checkbox
  display: flex
  align-items: center
  margin-bottom: 10px
  position: relative

  // Checkboxes
  input
    position: absolute
    opacity: 0
    width: 95%
    cursor: pointer

    & + label
      position: relative
      display: inline-block
      padding: 0 2.5em
      cursor: pointer
      font-size: 1em
      height: 22px
      &:hover
        color: #42b983

      // Default State
      &:before
        display: block
        content: ""
        position: absolute
        left: 0
        top: 0
        border: 1px solid #42b983
        width: 20px
        height: 20px

    // Hover State
    &:checked + label
      &:before
        border: 1px solid #42b983
        background-image: url("~@/assets/icons/Checkbox-Active.svg")
</style>
