<template>
    <div class="form__group">
        <input @input="$emit('input', inputValue)" :placeholder="placeholderText" v-model="inputValue" :id="id" :required="true" :name="name" :type="inputType"/>
        <!-- <label :class="{'float-label' : inputValue}" :for="name" v-if="inputType !== 'date'">{{placeholderText}}</label> -->
    </div>
</template>

<script>
export default {
    name:'InputField',
    data(){
        return{
            inputValue: null
        }
    },
    props:{
        placeholderText: String,
        inputType: String,
        id: String,
        name: String
    }
}
</script>

<style lang="sass" scoped>
.form__group
    position: relative
    margin: 1em 0
    width: 100%
input
    font-size: inherit
    font-family: inherit
    padding: 15px 10px 10px 5px
    display: block
    width: 100%
    border: none
    border-bottom: 1px solid #42b983
    &:focus
        outline: none
        border-bottom: 2px solid #42b983
        
    &:focus ~ label
        top: -15px
        font-size: 0.875em
    
label
    color: #999
    font-size: inherit
    font-weight: normal
    position: absolute
    pointer-events: none
    left: 5px
    top: 10px
    transition: 0.2s ease all
    -moz-transition: 0.2s ease all
    -webkit-transition: 0.2s ease all

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus
    transition: background-color 5000s ease-in-out 0s

.float-label
    top: -15px
    font-size: 0.875em
</style>